<a href="https://colab.research.google.com/github/Shailyshaik2021/python/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

My first program

In [1]:
x="hello world"
print(x)

hello world

Addition

In [4]:
x=1
y=2
z=x+y
print(z)

3

Datatypes

In [10]:
x=1
y="shaily"
z=(1,2,3)
a=[1,2,3]
b={1:"john",2:"bob",3:"alice"}
c={1:"p",2:"q",3:"r"}
s={1,2,3,"i","j","k"}
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(s))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'dict'>
<class 'set'>

UserDefined Function - def followed by function name

In [26]:
def add(a,b):
  sum=a+b;
  return sum;
add(5,6)

def sub(s,x):
  sub=(s-x);
  return sub;
sub(3,2)

1

User input function

In [30]:
x=int(input())
y=int(input())
z=x+y
print(z)

1
2
3

lambda function
Syntax: lambda arguments:expression

In [2]:
x=lambda a:a+10
print(x(3))

13

In [5]:
#multiplication of 2 numbers using lambda function
z=lambda b,c,d:b*c*d
print(z(2,3,2))

12

Conditional statements (If-else)

In [11]:
a=34
b=23
if b>a:
  print("b is greater than a")
else:
  print("a is greater than b")

a is greater than b

In [15]:
#nested if-else
a=int (input())
b=int (input())
if b>a:
  print("b is greater than a")
elif b==a:
  print("b is equal to a")
else:
  print("b is less than a")

22
22
b is equal to a

In [16]:
#for loop
cars=["lexus","honda","bmw"]
for n in cars:
  print(n)

lexus
honda
bmw

In [22]:
#break
cars=["lexus","honda","bmw"]
for n in cars:
  if n=="bmw":
    break
  print(n)

lexus
honda